#title {
	padding-top: 10%;
	padding-left: 50%;
	text-align: center;
	font-family: Calibri;
}

.start{
	border: solid;
	width: 60px;
	float: left;
	display: inline;
	text-align: center;
	font-family: Calibri;
}

.text{
	font-family: Calibri;
	display: inline;
	float: left;
	border: none;
	margin-right: 2em;
	margin-left: 2em;
}

.main{
	width:100%;
    position:relative;
    padding-left: 60%;
    padding-bottom: 50%;
}