body{
	font-family: Calibri;
	background-color: #99CCFF;
}

#top-right{
	float: right;
	border: solid;
	margin-right:0.5em;
	margin-left: 0.5em;
	width: 4em;
	text-align: center;
}

h1{
	text-align: center;
}

.question{
	margin-left: auto;
	text-align: left;
}

.comments{
	color: orange;
	text-decoration: underline;
}

ul{
	list-style-type: none;
}

li:hover{
	color: #515757;
	opacity: .5;
}

span{
	border:1px solid;
	border-radius:25px;
	text-align: center;
}

span:hover{
	color: purple;
}

#comment{
	font-family: Calibri;
	width: 30%;
	height: 20%;
	border: 2px solid;
  margin: 4px;
	margin-left: auto;
	margin-right:auto;
}

#comments{
	font-family: Calibri;
	border: 2px solid;
  padding: 2px;
}

#cm-list {
  margin-top: 2em;
}

#cm-list > li {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.bottom-right{
	float: right;
	border: none;
	margin-right:0.5em;
	margin-left: 0.5em;
	width: 10em;
	text-align: center;
}

.bottom-left{
	float: left;
	border: none;
	margin-right:0.5em;
	margin-left: 0.5em;
	width: 10em;
	text-align: center;
}
