body{
	font-family: Calibri;
	background-color: #99CCFF;
}

#top-right{
	float: right;
	border: solid;
	margin-right:0.5em;
	margin-left: 0.5em;
	width: 4em;
	text-align: center;
}

h1{
	text-align: center;
}

.question{
	margin-left: 3em;
	text-align: left;
}

.comments{
	color: orange;
	text-decoration: underline;
}

#bottom-right{
	float: right;
	border: solid;
	margin-right:0.5em;
	margin-left: 0.5em;
	width: 6em;
	text-align: center;
}

ul{
	list-style-type: none;
}

li:hover{
	color: #515757;
	opacity: .5;
}

span{
	border:2px solid;
	border-radius:25px;
}

span:hover{
	color: yellow;
}