$def with ()

<div id="login">
  <h1>Login</h1>
  <div>
    <span class='plain_text'>Email: </span>
    <input class="input_field" name='uname' type='text'/><br/><br/>
    <span class='plain_text'>Password: </span>
    <input class="input_field" 'name='pass' type='password'/><br/><br/>
  </div>
  <div class='login-button'>			
    <input id="normal-login" type='button' value='Login'/>
    <span>or login here</span>
    <div id="fb-root"></div>
    <!--
    Below we include the Login Button social plugin. This button uses the JavaScript SDK to
    present a graphical Login button that triggers the FB.login() function when clicked. -->
    <fb:login-button show-faces="true"></fb:login-button>
  </div>
</div>
