$def with (question, commentsList)

<!-- question=> name(user name) , opt1, opt2, -->
<!-- comments=> list of comments -->
<!-- comment object=> ans(string), up(int) , down(int) -->

<div>
	<div class="question"><h3>
		<span style='font-weight:bold; border: 0px'>$question.name</span> asked if they should $question.opt1 or $(question.opt2)...
	</h3></div>
	<div id="comment" ContentEditable="true">
		Oblige them.
	</div>
	<span class="btn btn-info" id="comments" onclick='doComment()'>Comment</span>
	<ul id='cm-list'> <h4>
		$for comment in commentsList:
			<li>$comment.ans</li>
		</h4>
	</ul>


</div>
