$def with (question, commentsList) #parameters coming in, 
<!-- question=> name(user name) , opt1, opt2, -->
<!-- comments=> list of comments ->>
<!-- comment object=> ans(string), up(int) , down(int) -->
<head>
	<title>WSID Questions</title>
	<link rel="stylesheet" type="text/css" href="static/questions_style.css">
</head>

<div>
	<span id="top-right" type="login">Log-in</span>
	<span id="top-right" type="signup">Sign up</span>
	<h1>Questions</h1>
	<div class="question">
		$question.name 
		
	</div>
	<ul> 
		$for comment in commentsList:
			<li>$comments.ans</li>
	</ul>

</div>
